:root {
     --main-font: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
     --second-font: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
     Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-font {
     font-family: var(--main-font);
}

.second-font {
     font-family: var(--second-font);
}

header.vh-100 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../imgs/bg.jpg);
  background-size: cover;
  background-position: center;
  background-position-y: top;
}

h1 {
  font-family: var(--main-font);
    font-size: 50px;
}

.anim p {
  color: rgba(255, 254, 254, 0.7);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 60px;
  font-weight: 200;
}

.anim p::after {
  content: "";
  color: white;
  animation: job 10s;
  animation-iteration-count: infinite;
  font-size: 50px;
  font-weight: 400;
}

nav.navbar a.navbar-brand {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 800;
}

.navbar a {
  color: white;
}

.navbar-nav a {
  text-transform: capitalize;
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@keyframes job {
  0% {
     content: "|";
  }   
     
  3% {
    content: "|";
  }

  6% {
     content: '|';
  }

  6.2% {
    content: "L|";
  }

  6.4% {
    content: "La|";
  }

  6.6% {
    content: "Larr|";
  }

  6.8% {
    content: "Larry|";
  }

  7% {
    content: "Larry |";
  }

  7.2% {
    content: "Larry D|";
  }

  7.4% {
    content: "Larry Da|";
  }

  7.6% {
    content: "Larry Dan|";
  }

  7.8% {
    content: "Larry Dani|";
  }

  8% {
    content: "Larry Danie|";
  }

  8.2% {
    content: "Larry Daniel|";
  }

  8.4% {
    content: "Larry Daniels|";
  }

  19.5% {
    content: "Larry Daniels|";
  }

  21% {
    content: "Larry Daniels|";
  }

  22.5% {
    content: "Larry Daniels|";
  }

  22.8% {
    content: "Larry Daniel|";
  }
  23% {
    content: "Larry Danie|";
  }
  23.2% {
    content: "Larry Danie|";
  }
  23.4% {
    content: "Larry Dani|";
  }
  23.6% {
    content: "Larry Dan|";
  }
  23.8% {
    content: "Larry Da|";
  }
  24% {
    content: "Larry D|";
  }
  24.2% {
    content: "Larry|";
  }
  24.4% {
    content: "Larr|";
  }
  24.6% {
    content: "Lar|";
  }
  24.8% {
    content: "La|";
  }
  25% {
    content: "L|";
  }
  25.2% {
    content: "|";
  }

  43.1% {
     content: "|";
  }
  43.5% {
    content: "D|";
  }
  43.7% {
    content: "De|";
  }
  43.9% {
    content: "Dev|";
  }
  44.1% {
    content: "Deve";
  }
  44.3% {
    content: "Devel";
  }
  44.5% {
    content: "Develo";
  }
  44.7% {
    content: "Develop|";
  }
  44.9% {
    content: "Develope|";
  }
  45.1% {
    content: "Developer|";
  }
  45.3% {
    content: "Developer|";
  }
  45.5% {
    content: "Developer|";
  }
  60% {
    content: "Developer|";
  }
  60.2% {
    content: "Develope|";
  }
  60.4% {
    content: "Develop|";
  }
  60.6% {
    content: "Develo|";
  }
  60.8% {
    content: "Devel|";
  }
  61% {
    content: "Deve|";
  }
  61.2% {
    content: "Dev|";
  }
  61.4% {
    content: "De|";
  }
  61.6% {
    content: "D|";
  }
  61.8% {
    content: "|";
  }
  73.8% {
    content: "|";
  }
  74% {
    content: "D|";
  }
  74.4% {
    content: "De|";
  }
  74.8% {
    content: "Des|";
  }
  75.2% {
    content: "Desi|";
  }
  75.6% {
    content: "Desig|";
  }
  76% {
    content: "Design|";
  }
  76.4% {
    content: "Designe|";
  }
  76.8% {
    content: "Designer|";
  }
  77.2% {
    content: "Designer|";
  }
  87.5% {
    content: "Designer|";
  }
  89% {
    content: "Designer|";
  }
  89.4% {
    content: "Designe|";
  }
  89.8% {
    content: "Design|";
  }
  90.2% {
    content: "Desig|";
  }
  90.6% {
    content: "Desi|";
  }
  91% {
    content: "Des|";
  }
  91.4% {
    content: "De|";
  }
  91.8% {
    content: "D|";
  }
  92.2% {
    content: "|";
  }

  100% {
     content: "|";
  }
  
}

.nav-item {
  padding-inline: 15px;
}

.navbar-brand {
  padding-left: 50px;
}

header ul.d-flex li{
     height: 15px;
     width: 15px;
     background-color: rgba(0, 0, 0, 0.5);
     border: 0.5px solid transparent;
     border-radius: 50%;
     padding: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 3px;
}

/* <!-- !!!!!!!!!!!!!!!!!!END OF HEADER!!!!!!!!!!!!!!!!!!!!! --> */


/* !!!!!!!!!!!!!!!!!!!!START OF SECTION ONE !!!!!!!!!!!!!!!!!!!!!!!!!!! */

section .col-md-5.position-relative::after {
     content: "";
     background-image: url(../imgs/dots.png);
     position: absolute;
     width: 100%;
     height: 80%;
     left: -3.5%;
     bottom: -6%;
     z-index: -1;
}

div .col-md-7 div div {
     width: 100%;
     transition: 2s;
     background-color: #F7F7F7;
     height: 25px;
     border: transparent 1px solid;
     border-radius: 7px;
     box-shadow: 0px 0px 5px 0px #E3E3E3 inset;
     
}

div .col-md-7 div .meter {
     background-color: black;
     color: white;
     height: 100%;
     display: flex;
     justify-content: space-between;
     font-size: 13px;
     box-shadow: unset;
     padding-inline: 10px;
     width: 50%;
     font-family: var(--second-font);
     
 }

 section.hero:hover .meter.one {
     width: 95%;
 }
 section.hero:hover .meter.two {
     width: 80%;
 }
 section.hero:hover .meter.three {
     width: 90%;
 }


 .brief h2 {
     font-family: var(--main-font);
     font-size: 30px;
     font-weight: 800;
 }

 .brief h4 {
     font-family: var(--second-font);
     font-size: 14px;
     font-weight: 400;
     color: #A699A6;
 }

 .brief p {
     font-family: var(--second-font);
     font-size: 15px;
     font-weight: 400;
     color: #7D898E;
 }

 .brief p span {
     font-family: var(--second-font);
     font-size: 15px;
     font-weight: 700;
     color: #748386;
 }

 .buttons :first-child {
     font-family: var(--second-font);
     font-size: 13px;
     border: 1px black solid;
     background-color: black;
     color: white;
     transition: 0.5s;
 }

 .buttons :last-child {
     font-family: var(--second-font);
     font-size: 13px;
     border: 1px black solid;
     background-color: white;
     color: black;
     transition: 0.5s;
 }

 .buttons :first-child:hover {
     font-family: var(--second-font);
     font-size: 13px;
     border: 1px black solid;
     background-color: white;
     color: black;
 }

 .buttons :last-child:hover {
     font-family: var(--second-font);
     font-size: 13px;
     border: 1px black solid;
     background-color: black;
     color: white;
 }

 /* !!!!!!!!!!!!!!!!!!!END OF SECTON ONE!!!!!!!!!!!!!! */



 /* !!!!!!!!!!!!!!!!!!!Start OF SECTON TWO!!!!!!!!!!!!!! */

.container-fluid.services {
     background-color: #F7F7F7;
     margin-top: 7rem !important;
     padding-bottom: 5rem;
     
    
}

.container-fluid.services h2 {
     font-size: 40px;
     font-weight: 900;
     padding-top: 100px;
     position: relative;
     width: fit-content;
     margin: auto;
     z-index: 5;
}

.container-fluid.services h2::after {
     content: "";
     width: 100%;
     height: 30px;
     background-image: url(../imgs/dots.png);
     background-repeat : repeat;
     position : absolute;
     bottom : -10px;
     left : 0;
     z-index: -1;
 }

 .container-fluid.services .logoservices {
     background-color: #F4F4F4;
     border: transparent;
     border-radius: 50%;
     height: 90px;
     width: 90px;
     margin: 20px auto;
     font-size: 40px;
     margin-top: 50px;
     color: black;
     transition: 0.5s;
 }


 .row h6 {
     font-family: var(--main-font);
     font-weight: 900;
     font-size: 18px;
     padding-block: 20px;
     
 }

 .row.g-5 p {
     font-family: var(--second-font) ;
     font-size: 14px;
     color: #9CCBFF;
 }


#part-1:hover #hover-1 {
     background-color: black;
     color: #F4F4F4;
}

 /* !!!!!!!!!!!!!!!!!!!END OF SECTON TWO!!!!!!!!!!!!!! */


 /* <!--  !!!!!!!!!!!!!!Start OF SECTION Three !!!!!!!!!!!!!!!!!!!!!!!  --> */

 .container-fluid.services.portfolio {
  margin-top: 0px !important;
  background-color: white; 
}

.container-fluid.services.portfolio h2 {
  font-size: 40px;
  font-weight: 900;
  padding-top: 100px;
  position: relative;
  width: fit-content;
  margin: auto;
  z-index: 5;
  margin-bottom: 100px;
}

.portheads h4 {
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 700;
}

.portheads {
  padding-inline: 9rem ;
}

.cover {
  width: 96%;
  height: 90%;
  left: 2%;
  top: 7%;
  opacity: 0;
  transition: 0.5s;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: black;
  border: transparent;
  border-radius: 50%;
  color: white;
  font-size: 14px;
}
    

.cover p {
  font-family: var(--main-font);
  font-size: 12px;
  word-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;
}

.cover div {
  transition: 0.5s;
}
.cover:hover{
  opacity: 1;
}
.cover:hover p {
  transform: translateY(2px);
}
.cover:hover div {
  transform: translateY(-2px);
}
    /* <!--  !!!!!!!!!!!!!!END OF SECTION Three !!!!!!!!!!!!!!!!!!!!!!!  --> */